<a href="https://colab.research.google.com/github/vivianusdjpy/ELECTRIC-CAR-SHARING-SERVICE-WEEK-4-IP/blob/master/Moringa_Data_Science_Prep_W4_Independent_Project_2019_11_VIVIAN_NJAU_Python_SQL_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# IMPORTING THE LIBRARIES

In [0]:
#importing the libraries
import pandas as pd
import numpy as np
import seaborn as sns
import pandas_profiling

In [0]:
#setting up the sql environment
%load_ext sql

In [3]:
%sql sqlite://

'Connected: @None'

LOADING THE DATASET

In [0]:
#loading the dataset and creating a dataframe
df = pd.read_csv("/content/Autolib_dataset.csv", encoding='utf-8', delimiter=',')

PREVIEWING OUR DATA

In [7]:
#previewing the first 5 elements of the data
df.tail(15)

                                           Address  Cars  ...  hour  minute
4985               6 place du PrÃ©sident Mithouard     2  ...     2      35
4986                      16 Rue Charles de Gaulle     3  ...     4       3
4987                            6 place Abel Gance     6  ...     6      41
4988                                  62 Rue Ramey     5  ...    11       0
4989                                3 Rue Mongenot     4  ...     7      28
4990                    47 boulevard de l'HÃ´pital     0  ...    21      13
4991  56 avenue du MarÃ©chal de Lattre de Tassigny     5  ...    20      43
4992                               3 avenue d'Ivry     0  ...    23       1
4993                    6 avenue Charles-de-Gaulle     6  ...     4      43
4994                              15 rue de Rocroy     0  ...    20      49
4995                           8 avenue MÃ©nelotte     2  ...    11      26
4996                             37 rue de Dantzig     4  ...    16      56
4997                                142 rue du Bac     1  ...     7       1
4998                   2 avenue du Val de Fontenay     2  ...    17      27
4999                           5 Rue Henry Brisson     4  ...    10       2

[15 rows x 25 columns]

# OBTAINING INFORMATION ABOUT THE DATA

In [8]:
#obtaining information about the dataset
#size -> the dataset has 5000 rows and 25 columns 
df.shape
#the dataframe can hold upto 125,025 elements

(5000, 25)

In [9]:
#more information about the data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 25 columns):
Address                5000 non-null object
Cars                   5000 non-null int64
Bluecar counter        5000 non-null int64
Utilib counter         5000 non-null int64
Utilib 1.4 counter     5000 non-null int64
Charge Slots           5000 non-null int64
Charging Status        5000 non-null object
City                   5000 non-null object
Displayed comment      111 non-null object
ID                     5000 non-null object
Kind                   5000 non-null object
Geo point              5000 non-null object
Postal code            5000 non-null int64
Public name            5000 non-null object
Rental status          5000 non-null object
Scheduled at           47 non-null object
Slots                  5000 non-null int64
Station type           5000 non-null object
Status                 5000 non-null object
Subscription status    5000 non-null object
year                   5000 non-null int64
month                  5000 non-null int64
day                    5000 non-null int64
hour                   5000 non-null int64
minute                 5000 non-null int64
dtypes: int64(12), object(13)
memory usage: 976.7+ KB

In [0]:
len(df)

5000

In [0]:
#find the total number of missing values in the dataframe
#t
df.isnull().sum().sum()

9842

In [0]:
#getting the number of unique values for every column
df.isnull().sum()
#Findings:the scheduled at and Displayed at columns have more than 85% of missing values

Address                   0
Cars                      0
Bluecar counter           0
Utilib counter            0
Utilib 1.4 counter        0
Charge Slots              0
Charging Status           0
City                      0
Displayed comment      4889
ID                        0
Kind                      0
Geo point                 0
Postal code               0
Public name               0
Rental status             0
Scheduled at           4953
Slots                     0
Station type              0
Status                    0
Subscription status       0
year                      0
month                     0
day                       0
hour                      0
minute                    0
dtype: int64

In [10]:
#getting the number of missing values per row
for i in range(len(df.index)) :
    print("Nan in row ", i , " : " ,  df.iloc[i].isnull().sum())
#there is no row with more than 2 missing values hence the row data is valid

Nan in row  0  :  2
Nan in row  1  :  2
Nan in row  2  :  2
Nan in row  3  :  2
Nan in row  4  :  2
Nan in row  5  :  2
Nan in row  6  :  1
Nan in row  7  :  2
Nan in row  8  :  2
Nan in row  9  :  2
Nan in row  10  :  2
Nan in row  11  :  2
Nan in row  12  :  2
Nan in row  13  :  2
Nan in row  14  :  2
Nan in row  15  :  2
Nan in row  16  :  2
Nan in row  17  :  2
Nan in row  18  :  1
Nan in row  19  :  2
Nan in row  20  :  2
Nan in row  21  :  2
Nan in row  22  :  2
Nan in row  23  :  2
Nan in row  24  :  2
Nan in row  25  :  2
Nan in row  26  :  2
Nan in row  27  :  2
Nan in row  28  :  2
Nan in row  29  :  2
Nan in row  30  :  2
Nan in row  31  :  2
Nan in row  32  :  2
Nan in row  33  :  2
Nan in row  34  :  2
Nan in row  35  :  2
Nan in row  36  :  2
Nan in row  37  :  2
Nan in row  38  :  2
Nan in row  39  :  2
Nan in row  40  :  2
Nan in row  41  :  2
Nan in row  42  :  2
Nan in row  43  :  2
Nan in row  44  :  2
Nan in row  45  :  2
Nan in row  46  :  2
Nan in row  47  :  2
Nan in row  48  :  2
Nan in row  49  :  2
Nan in row  50  :  2
Nan in row  51  :  2
Nan in row  52  :  2
Nan in row  53  :  2
Nan in row  54  :  2
Nan in row  55  :  2
Nan in row  56  :  2
Nan in row  57  :  2
Nan in row  58  :  2
Nan in row  59  :  2
Nan in row  60  :  2
Nan in row  61  :  2
Nan in row  62  :  2
Nan in row  63  :  2
Nan in row  64  :  2
Nan in row  65  :  2
Nan in row  66  :  2
Nan in row  67  :  2
Nan in row  68  :  1
Nan in row  69  :  2
Nan in row  70  :  2
Nan in row  71  :  2
Nan in row  72  :  2
Nan in row  73  :  2
Nan in row  74  :  2
Nan in row  75  :  2
Nan in row  76  :  2
Nan in row  77  :  2
Nan in row  78  :  2
Nan in row  79  :  2
Nan in row  80  :  1
Nan in row  81  :  2
Nan in row  82  :  2
Nan in row  83  :  2
Nan in row  84  :  2
Nan in row  85  :  2
Nan in row  86  :  2
Nan in row  87  :  2
Nan in row  88  :  2
Nan in row  89  :  2
Nan in row  90  :  1
Nan in row  91  :  2
Nan in row  92  :  2
Nan in row  93  :  2
Nan in row  94  :  2
Nan in row  95  :  2
Nan in row  96  :  2
Nan in row  97  :  2
Nan in row  98  :  2
Nan in row  99  :  2
Nan in row  100  :  2
Nan in row  101  :  2
Nan in row  102  :  2
Nan in row  103  :  2
Nan in row  104  :  2
Nan in row  105  :  2
Nan in row  106  :  2
Nan in row  107  :  2
Nan in row  108  :  2
Nan in row  109  :  2
Nan in row  110  :  2
Nan in row  111  :  2
Nan in row  112  :  2
Nan in row  113  :  2
Nan in row  114  :  2
Nan in row  115  :  2
Nan in row  116  :  2
Nan in row  117  :  2
Nan in row  118  :  2
Nan in row  119  :  2
Nan in row  120  :  2
Nan in row  121  :  2
Nan in row  122  :  2
Nan in row  123  :  2
Nan in row  124  :  2
Nan in row  125  :  1
Nan in row  126  :  2
Nan in row  127  :  2
Nan in row  128  :  2
Nan in row  129  :  2
Nan in row  130  :  2
Nan in row  131  :  2
Nan in row  132  :  2
Nan in row  133  :  2
Nan in row  134  :  2
Nan in row  135  :  2
Nan in row  136  :  2
Nan in row  137  :  2
Nan in row  138  :  2
Nan in row  139  :  2
Nan in row  140  :  2
Nan in row  141  :  2
Nan in row  142  :  2
Nan in row  143  :  2
Nan in row  144  :  2
Nan in row  145  :  2
Nan in row  146  :  2
Nan in row  147  :  2
Nan in row  148  :  2
Nan in row  149  :  2
Nan in row  150  :  2
Nan in row  151  :  2
Nan in row  152  :  2
Nan in row  153  :  2
Nan in row  154  :  2
Nan in row  155  :  2
Nan in row  156  :  2
Nan in row  157  :  2
Nan in row  158  :  2
Nan in row  159  :  2
Nan in row  160  :  2
Nan in row  161  :  2
Nan in row  162  :  2
Nan in row  163  :  2
Nan in row  164  :  2
Nan in row  165  :  2
Nan in row  166  :  2
Nan in row  167  :  2
Nan in row  168  :  2
Nan in row  169  :  2
Nan in row  170  :  2
Nan in row  171  :  2
Nan in row  172  :  2
Nan in row  173  :  2
Nan in row  174  :  2
Nan in row  175  :  2
Nan in row  176  :  2
Nan in row  177  :  2
Nan in row  178  :  2
Nan in row  179  :  2
Nan in row  180  :  2
Nan in row  181  :  2
Nan in row  182  :  2
Nan in row  183  :  2
Nan in row  184  :  2
Nan in row  185  :  2
Nan in row  186  :  2
Nan in row  187  :  2
Nan in row  188  :  2
Nan in row  189  :  2
Nan in row  190  :  2
Nan in row  191  :  2
Nan in row  192  :  2
Nan in row  193  :  2
Nan in row  194  :  2
Nan in row  195  :  2
Nan in row  196  :  2
Nan in row  197  :  2
Nan in row  198  :  2
Nan in row  199  :  2
Nan in row  200  :  1
Nan in row  201  :  2
Nan in row  202  :  2
Nan in row  203  :  2
Nan in row  204  :  2
Nan in row  205  :  2
Nan in row  206  :  2
Nan in row  207  :  2
Nan in row  208  :  1
Nan in row  209  :  2
Nan in row  210  :  2
Nan in row  211  :  2
Nan in row  212  :  2
Nan in row  213  :  2
Nan in row  214  :  2
Nan in row  215  :  2
Nan in row  216  :  2
Nan in row  217  :  2
Nan in row  218  :  2
Nan in row  219  :  2
Nan in row  220  :  2
Nan in row  221  :  2
Nan in row  222  :  2
Nan in row  223  :  2
Nan in row  224  :  2
Nan in row  225  :  2
Nan in row  226  :  2
Nan in row  227  :  2
Nan in row  228  :  2
Nan in row  229  :  2
Nan in row  230  :  2
Nan in row  231  :  2
Nan in row  232  :  2
Nan in row  233  :  2
Nan in row  234  :  2
Nan in row  235  :  2
Nan in row  236  :  2
Nan in row  237  :  2
Nan in row  238  :  2
Nan in row  239  :  2
Nan in row  240  :  2
Nan in row  241  :  2
Nan in row  242  :  2
Nan in row  243  :  2
Nan in row  244  :  2
Nan in row  245  :  2
Nan in row  246  :  2
Nan in row  247  :  2
Nan in row  248  :  2
Nan in row  249  :  2
Nan in row  250  :  2
Nan in row  251  :  2
Nan in row  252  :  2
Nan in row  253  :  2
Nan in row  254  :  2
Nan in row  255  :  2
Nan in row  256  :  2
Nan in row  257  :  2
Nan in row  258  :  2
Nan in row  259  :  2
Nan in row  260  :  2
Nan in row  261  :  2
Nan in row  262  :  2
Nan in row  263  :  2
Nan in row  264  :  1
Nan in row  265  :  1
Nan in row  266  :  2
Nan in row  267  :  2
Nan in row  268  :  2
Nan in row  269  :  2
Nan in row  270  :  2
Nan in row  271  :  1
Nan in row  272  :  2
Nan in row  273  :  2
Nan in row  274  :  2
Nan in row  275  :  2
Nan in row  276  :  2
Nan in row  277  :  2
Nan in row  278  :  2
Nan in row  279  :  2
Nan in row  280  :  2
Nan in row  281  :  2
Nan in row  282  :  2
Nan in row  283  :  1
Nan in row  284  :  2
Nan in row  285  :  2
Nan in row  286  :  2
Nan in row  287  :  2
Nan in row  288  :  2
Nan in row  289  :  2
Nan in row  290  :  2
Nan in row  291  :  2
Nan in row  292  :  2
Nan in row  293  :  2
Nan in row  294  :  2
Nan in row  295  :  2
Nan in row  296  :  2
Nan in row  297  :  2
Nan in row  298  :  2
Nan in row  299  :  2
Nan in row  300  :  2
Nan in row  301  :  2
Nan in row  302  :  2
Nan in row  303  :  1
Nan in row  304  :  2
Nan in row  305  :  2
Nan in row  306  :  2
Nan in row  307  :  2
Nan in row  308  :  2
Nan in row  309  :  2
Nan in row  310  :  2
Nan in row  311  :  2
Nan in row  312  :  2
Nan in row  313  :  2
Nan in row  314  :  2
Nan in row  315  :  2
Nan in row  316  :  1
Nan in row  317  :  2
Nan in row  318  :  2
Nan in row  319  :  2
Nan in row  320  :  2
Nan in row  321  :  2
Nan in row  322  :  2
Nan in row  323  :  2
Nan in row  324  :  2
Nan in row  325  :  2
Nan in row  326  :  2
Nan in row  327  :  2
Nan in row  328  :  1
Nan in row  329  :  2
Nan in row  330  :  2
Nan in row  331  :  2
Nan in row  332  :  2
Nan in row  333  :  2
Nan in row  334  :  2
Nan in row  335  :  2
Nan in row  336  :  2
Nan in row  337  :  2
Nan in row  338  :  2
Nan in row  339  :  2
Nan in row  340  :  2
Nan in row  341  :  2
Nan in row  342  :  2
Nan in row  343  :  2
Nan in row  344  :  2
Nan in row  345  :  2
Nan in row  346  :  2
Nan in row  347  :  2
Nan in row  348  :  2
Nan in row  349  :  2
Nan in row  350  :  2
Nan in row  351  :  2
Nan in row  352  :  2
Nan in row  353  :  2
Nan in row  354  :  2
Nan in row  355  :  2
Nan in row  356  :  2
Nan in row  357  :  2
Nan in row  358  :  2
Nan in row  359  :  2
Nan in row  360  :  2
Nan in row  361  :  2
Nan in row  362  :  2
Nan in row  363  :  2
Nan in row  364  :  2
Nan in row  365  :  2
Nan in row  366  :  2
Nan in row  367  :  2
Nan in row  368  :  2
Nan in row  369  :  2
Nan in row  370  :  2
Nan in row  371  :  2
Nan in row  372  :  2
Nan in row  373  :  2
Nan in row  374  :  2
Nan in row  375  :  2
Nan in row  376  :  2
Nan in row  377  :  2
Nan in row  378  :  2
Nan in row  379  :  2
Nan in row  380  :  2
Nan in row  381  :  2
Nan in row  382  :  2
Nan in row  383  :  2
Nan in row  384  :  2
Nan in row  385  :  2
Nan in row  386  :  2
Nan in row  387  :  2
Nan in row  388  :  2
Nan in row  389  :  2
Nan in row  390  :  2
Nan in row  391  :  2
Nan in row  392  :  2
Nan in row  393  :  2
Nan in row  394  :  2
Nan in row  395  :  2
Nan in row  396  :  2
Nan in row  397  :  2
Nan in row  398  :  2
Nan in row  399  :  2
Nan in row  400  :  2
Nan in row  401  :  1
Nan in row  402  :  2
Nan in row  403  :  2
Nan in row  404  :  2
Nan in row  405  :  2
Nan in row  406  :  2
Nan in row  407  :  2
Nan in row  408  :  2
Nan in row  409  :  2
Nan in row  410  :  2
Nan in row  411  :  2
Nan in row  412  :  2
Nan in row  413  :  2
Nan in row  414  :  2
Nan in row  415  :  2
Nan in row  416  :  2
Nan in row  417  :  2
Nan in row  418  :  2
Nan in row  419  :  2
Nan in row  420  :  2
Nan in row  421  :  2
Nan in row  422  :  2
Nan in row  423  :  2
Nan in row  424  :  2
Nan in row  425  :  2
Nan in row  426  :  2
Nan in row  427  :  2
Nan in row  428  :  2
Nan in row  429  :  2
Nan in row  430  :  2
Nan in row  431  :  2
Nan in row  432  :  2
Nan in row  433  :  2
Nan in row  434  :  2
Nan in row  435  :  2
Nan in row  436  :  2
Nan in row  437  :  2
Nan in row  438  :  2
Nan in row  439  :  2
Nan in row  440  :  2
Nan in row  441  :  2
Nan in row  442  :  2
Nan in row  443  :  2
Nan in row  444  :  2
Nan in row  445  :  2
Nan in row  446  :  2
Nan in row  447  :  2
Nan in row  448  :  2
Nan in row  449  :  2
Nan in row  450  :  2
Nan in row  451  :  2
Nan in row  452  :  2
Nan in row  453  :  2
Nan in row  454  :  2
Nan in row  455  :  2
Nan in row  456  :  1
Nan in row  457  :  2
Nan in row  458  :  2
Nan in row  459  :  2
Nan in row  460  :  2
Nan in row  461  :  2
Nan in row  462  :  2
Nan in row  463  :  2
Nan in row  464  :  2
Nan in row  465  :  2
Nan in row  466  :  2
Nan in row  467  :  2
Nan in row  468  :  2
Nan in row  469  :  2
Nan in row  470  :  2
Nan in row  471  :  2
Nan in row  472  :  2
Nan in row  473  :  2
Nan in row  474  :  2
Nan in row  475  :  2
Nan in row  476  :  2
Nan in row  477  :  2
Nan in row  478  :  2
Nan in row  479  :  2
Nan in row  480  :  2
Nan in row  481  :  2
Nan in row  482  :  2
Nan in row  483  :  2
Nan in row  484  :  2
Nan in row  485  :  2
Nan in row  486  :  2
Nan in row  487  :  2
Nan in row  488  :  2
Nan in row  489  :  2
Nan in row  490  :  2
Nan in row  491  :  2
Nan in row  492  :  2
Nan in row  493  :  2
Nan in row  494  :  2
Nan in row  495  :  2
Nan in row  496  :  2
Nan in row  497  :  1
Nan in row  498  :  2
Nan in row  499  :  2
Nan in row  500  :  2
Nan in row  501  :  2
Nan in row  502  :  2
Nan in row  503  :  2
Nan in row  504  :  2
Nan in row  505  :  2
Nan in row  506  :  2
Nan in row  507  :  2
Nan in row  508  :  2
Nan in row  509  :  2
Nan in row  510  :  2
Nan in row  511  :  2
Nan in row  512  :  2
Nan in row  513  :  2
Nan in row  514  :  2
Nan in row  515  :  2
Nan in row  516  :  2
Nan in row  517  :  2
Nan in row  518  :  1
Nan in row  519  :  2
Nan in row  520  :  2
Nan in row  521  :  2
Nan in row  522  :  2
Nan in row  523  :  2
Nan in row  524  :  2
Nan in row  525  :  2
Nan in row  526  :  2
Nan in row  527  :  2
Nan in row  528  :  2
Nan in row  529  :  2
Nan in row  530  :  2
Nan in row  531  :  2
Nan in row  532  :  2
Nan in row  533  :  2
Nan in row  534  :  2
Nan in row  535  :  2
Nan in row  536  :  2
Nan in row  537  :  2
Nan in row  538  :  2
Nan in row  539  :  2
Nan in row  540  :  2
Nan in row  541  :  2
Nan in row  542  :  2
Nan in row  543  :  2
Nan in row  544  :  2
Nan in row  545  :  2
Nan in row  546  :  2
Nan in row  547  :  2
Nan in row  548  :  2
Nan in row  549  :  2
Nan in row  550  :  2
Nan in row  551  :  2
Nan in row  552  :  2
Nan in row  553  :  2
Nan in row  554  :  2
Nan in row  555  :  2
Nan in row  556  :  2
Nan in row  557  :  2
Nan in row  558  :  2
Nan in row  559  :  2
Nan in row  560  :  2
Nan in row  561  :  2
Nan in row  562  :  2
Nan in row  563  :  2
Nan in row  564  :  2
Nan in row  565  :  2
Nan in row  566  :  2
Nan in row  567  :  2
Nan in row  568  :  2
Nan in row  569  :  2
Nan in row  570  :  2
Nan in row  571  :  2
Nan in row  572  :  2
Nan in row  573  :  2
Nan in row  574  :  2
Nan in row  575  :  2
Nan in row  576  :  2
Nan in row  577  :  2
Nan in row  578  :  1
Nan in row  579  :  2
Nan in row  580  :  2
Nan in row  581  :  2
Nan in row  582  :  2
Nan in row  583  :  2
Nan in row  584  :  2
Nan in row  585  :  2
Nan in row  586  :  2
Nan in row  587  :  2
Nan in row  588  :  2
Nan in row  589  :  2
Nan in row  590  :  2
Nan in row  591  :  2
Nan in row  592  :  2
Nan in row  593  :  2
Nan in row  594  :  2
Nan in row  595  :  2
Nan in row  596  :  2
Nan in row  597  :  2
Nan in row  598  :  2
Nan in row  599  :  2
Nan in row  600  :  2
Nan in row  601  :  2
Nan in row  602  :  2
Nan in row  603  :  2
Nan in row  604  :  2
Nan in row  605  :  2
Nan in row  606  :  2
Nan in row  607  :  2
Nan in row  608  :  2
Nan in row  609  :  2
Nan in row  610  :  2
Nan in row  611  :  2
Nan in row  612  :  2
Nan in row  613  :  2
Nan in row  614  :  2
Nan in row  615  :  2
Nan in row  616  :  2
Nan in row  617  :  2
Nan in row  618  :  2
Nan in row  619  :  2
Nan in row  620  :  2
Nan in row  621  :  2
Nan in row  622  :  2
Nan in row  623  :  2
Nan in row  624  :  2
Nan in row  625  :  2
Nan in row  626  :  2
Nan in row  627  :  2
Nan in row  628  :  2
Nan in row  629  :  2
Nan in row  630  :  2
Nan in row  631  :  2
Nan in row  632  :  2
Nan in row  633  :  2
Nan in row  634  :  2
Nan in row  635  :  2
Nan in row  636  :  2
Nan in row  637  :  1
Nan in row  638  :  2
Nan in row  639  :  2
Nan in row  640  :  2
Nan in row  641  :  2
Nan in row  642  :  2
Nan in row  643  :  2
Nan in row  644  :  2
Nan in row  645  :  2
Nan in row  646  :  2
Nan in row  647  :  2
Nan in row  648  :  2
Nan in row  649  :  2
Nan in row  650  :  2
Nan in row  651  :  2
Nan in row  652  :  2
Nan in row  653  :  2
Nan in row  654  :  2
Nan in row  655  :  2
Nan in row  656  :  2
Nan in row  657  :  2
Nan in row  658  :  2
Nan in row  659  :  2
Nan in row  660  :  2
Nan in row  661  :  2
Nan in row  662  :  2
Nan in row  663  :  2
Nan in row  664  :  2
Nan in row  665  :  2
Nan in row  666  :  2
Nan in row  667  :  2
Nan in row  668  :  2
Nan in row  669  :  2
Nan in row  670  :  2
Nan in row  671  :  2
Nan in row  672  :  2
Nan in row  673  :  2
Nan in row  674  :  2
Nan in row  675  :  2
Nan in row  676  :  2
Nan in row  677  :  2
Nan in row  678  :  2
Nan in row  679  :  2
Nan in row  680  :  2
Nan in row  681  :  2
Nan in row  682  :  2
Nan in row  683  :  2
Nan in row  684  :  2
Nan in row  685  :  2
Nan in row  686  :  2
Nan in row  687  :  2
Nan in row  688  :  2
Nan in row  689  :  2
Nan in row  690  :  2
Nan in row  691  :  2
Nan in row  692  :  2
Nan in row  693  :  2
Nan in row  694  :  2
Nan in row  695  :  2
Nan in row  696  :  2
Nan in row  697  :  2
Nan in row  698  :  2
Nan in row  699  :  2
Nan in row  700  :  1
Nan in row  701  :  2
Nan in row  702  :  2
Nan in row  703  :  2
Nan in row  704  :  2
Nan in row  705  :  2
Nan in row  706  :  2
Nan in row  707  :  2
Nan in row  708  :  2
Nan in row  709  :  2
Nan in row  710  :  2
Nan in row  711  :  2
Nan in row  712  :  2
Nan in row  713  :  2
Nan in row  714  :  2
Nan in row  715  :  2
Nan in row  716  :  2
Nan in row  717  :  2
Nan in row  718  :  2
Nan in row  719  :  2
Nan in row  720  :  2
Nan in row  721  :  2
Nan in row  722  :  2
Nan in row  723  :  2
Nan in row  724  :  2
Nan in row  725  :  2
Nan in row  726  :  2
Nan in row  727  :  2
Nan in row  728  :  2
Nan in row  729  :  2
Nan in row  730  :  2
Nan in row  731  :  2
Nan in row  732  :  2
Nan in row  733  :  2
Nan in row  734  :  2
Nan in row  735  :  2
Nan in row  736  :  2
Nan in row  737  :  2
Nan in row  738  :  2
Nan in row  739  :  2
Nan in row  740  :  2
Nan in row  741  :  2
Nan in row  742  :  2
Nan in row  743  :  2
Nan in row  744  :  2
Nan in row  745  :  2
Nan in row  746  :  2
Nan in row  747  :  2
Nan in row  748  :  2
Nan in row  749  :  2
Nan in row  750  :  2
Nan in row  751  :  2
Nan in row  752  :  2
Nan in row  753  :  2
Nan in row  754  :  2
Nan in row  755  :  2
Nan in row  756  :  2
Nan in row  757  :  2
Nan in row  758  :  2
Nan in row  759  :  2
Nan in row  760  :  2
Nan in row  761  :  2
Nan in row  762  :  2
Nan in row  763  :  2
Nan in row  764  :  2
Nan in row  765  :  2
Nan in row  766  :  2
Nan in row  767  :  2
Nan in row  768  :  2
Nan in row  769  :  2
Nan in row  770  :  2
Nan in row  771  :  2
Nan in row  772  :  2
Nan in row  773  :  2
Nan in row  774  :  2
Nan in row  775  :  2
Nan in row  776  :  2
Nan in row  777  :  2
Nan in row  778  :  2
Nan in row  779  :  2
Nan in row  780  :  2
Nan in row  781  :  2
Nan in row  782  :  2
Nan in row  783  :  1
Nan in row  784  :  2
Nan in row  785  :  2
Nan in row  786  :  2
Nan in row  787  :  2
Nan in row  788  :  2
Nan in row  789  :  2
Nan in row  790  :  2
Nan in row  791  :  2
Nan in row  792  :  2
Nan in row  793  :  2
Nan in row  794  :  2
Nan in row  795  :  2
Nan in row  796  :  2
Nan in row  797  :  1
Nan in row  798  :  2
Nan in row  799  :  2
Nan in row  800  :  2
Nan in row  801  :  2
Nan in row  802  :  1
Nan in row  803  :  2
Nan in row  804  :  2
Nan in row  805  :  2
Nan in row  806  :  2
Nan in row  807  :  2
Nan in row  808  :  2
Nan in row  809  :  2
Nan in row  810  :  2
Nan in row  811  :  2
Nan in row  812  :  2
Nan in row  813  :  2
Nan in row  814  :  2
Nan in row  815  :  2
Nan in row  816  :  2
Nan in row  817  :  2
Nan in row  818  :  2
Nan in row  819  :  2
Nan in row  820  :  2
Nan in row  821  :  2
Nan in row  822  :  2
Nan in row  823  :  2
Nan in row  824  :  2
Nan in row  825  :  2
Nan in row  826  :  2
Nan in row  827  :  2
Nan in row  828  :  2
Nan in row  829  :  2
Nan in row  830  :  2
Nan in row  831  :  2
Nan in row  832  :  2
Nan in row  833  :  2
Nan in row  834  :  2
Nan in row  835  :  2
Nan in row  836  :  2
Nan in row  837  :  1
Nan in row  838  :  2
Nan in row  839  :  2
Nan in row  840  :  2
Nan in row  841  :  2
Nan in row  842  :  2
Nan in row  843  :  2
Nan in row  844  :  2
Nan in row  845  :  1
Nan in row  846  :  2
Nan in row  847  :  2
Nan in row  848  :  2
Nan in row  849  :  2
Nan in row  850  :  2
Nan in row  851  :  2
Nan in row  852  :  2
Nan in row  853  :  2
Nan in row  854  :  2
Nan in row  855  :  2
Nan in row  856  :  2
Nan in row  857  :  2
Nan in row  858  :  2
Nan in row  859  :  2
Nan in row  860  :  2
Nan in row  861  :  2
Nan in row  862  :  2
Nan in row  863  :  2
Nan in row  864  :  2
Nan in row  865  :  2
Nan in row  866  :  2
Nan in row  867  :  2
Nan in row  868  :  2
Nan in row  869  :  2
Nan in row  870  :  2
Nan in row  871  :  1
Nan in row  872  :  2
Nan in row  873  :  2
Nan in row  874  :  2
Nan in row  875  :  2
Nan in row  876  :  1
Nan in row  877  :  2
Nan in row  878  :  2
Nan in row  879  :  2
Nan in row  880  :  2
Nan in row  881  :  2
Nan in row  882  :  2
Nan in row  883  :  2
Nan in row  884  :  2
Nan in row  885  :  2
Nan in row  886  :  2
Nan in row  887  :  2
Nan in row  888  :  2
Nan in row  889  :  2
Nan in row  890  :  2
Nan in row  891  :  2
Nan in row  892  :  2
Nan in row  893  :  2
Nan in row  894  :  1
Nan in row  895  :  2
Nan in row  896  :  2
Nan in row  897  :  2
Nan in row  898  :  2
Nan in row  899  :  2
Nan in row  900  :  2
Nan in row  901  :  2
Nan in row  902  :  2
Nan in row  903  :  2
Nan in row  904  :  2
Nan in row  905  :  2
Nan in row  906  :  1
Nan in row  907  :  2
Nan in row  908  :  2
Nan in row  909  :  2
Nan in row  910  :  2
Nan in row  911  :  2
Nan in row  912  :  2
Nan in row  913  :  2

CLEANING THE DATA.

# CLEANING THE DATA

In [16]:
#getting the number of unique values per column
df_1 =df
df_1
df_1.Address.nunique(dropna=True)                  #1104 unique elements
df_1['Charging Status'].nunique(dropna=True)       #3 unique values
df_1.City.nunique(dropna=True)                     #88 unique values
df_1['Displayed comment'].nunique(dropna=True)     #25 unique values
df_1.ID.nunique(dropna=True)                       #1105 unique values
df_1.Kind.nunique(dropna=True)                     #4 unique values
df_1['Geo point'].nunique(dropna=True)             #1105 unique geo locations  
df_1['Postal code'].nunique(dropna=True)           #107 postal code
df_1['Scheduled at'].nunique(dropna=True)          #8 schedules
df_1['Station type'].nunique(dropna=True)          #3 station types
df_1.Status.nunique(dropna=True)                   #3 unique status
df_1['Subscription status'].nunique(dropna=True)   #3 subscription status 
df_1.year.nunique(dropna=True)                     #the data was collected within one year
df_1.month.nunique(dropna=True)                    #the data was collected within one month (April)

1

the data can be classified in the following order based on the unique values count:
(Station types / unique status / subscription status/ Charging status) > city >Postal code > (Address/ geo location/ ID)

In [17]:
#unique values in the sheduled at column
df_1['Scheduled at'].unique()

array([nan, '2016-07-27T15:32:21', '2016-07-05T13:10:09',
       '2015-09-29T13:58:29', '2016-04-26T14:28:01',
       '2012-09-17T08:57:28', '2016-01-06T10:35:38',
       '2018-01-03T10:52:00', '2016-07-27T15:32:22'], dtype=object)

In [18]:
#unique values in the Displayed comment column
df_1['Displayed comment'].unique()

array([nan, 'Station en parking (niv -1), accÃ¨s 37 rue Leblanc',
       'Station en parking (niv 0), accÃ¨s 26 villa Croix Nivert',
       'Station en parking (niv -2), accÃ¨s 4 av. Foch',
       "Borne d'abonnement en sous-sol (niv -1), accÃ¨s 4 rue Lobau",
       'Station en parking (niv -1), accÃ¨s rue Wilson',
       'Station en parking (niv -1), accÃ¨s Place Georges Pompidou',
       'Station en parking (niv -3), accÃ¨s 32 rue dâ\x80\x99Alsace',
       'Station en parking (niv -2), accÃ¨s 2 avenue Gabriel',
       'Station en parking (niv -1), accÃ¨s av. de Versailles',
       'Station en parking (niv -1), accÃ¨s rue Abel Gance',
       'Station en parking (niv -1), accÃ¨s 4 av. des Ternes',
       'Station en parking (niv -1), Station B (sur la droite)',
       'Station en parking',
       'Station en parking (niv -2), accÃ¨s 125 bvd du Montparnasse',
       'Station en parking (niv -1), Station A (sur la gauche)',
       'Station en parking (niv -1), accÃ¨s 8 rue Louise Michel',
       'Station en parking (niv -1), accÃ¨s 26 bvd Gouvion Saint-Cyr',
       'Station en parking (niv -1), accÃ¨s rue Marjolin',
       'Station en parking (niv -1), accÃ¨s 141 rue Lecourbe',
       'Station en parking (niv -1), accÃ¨s 37 rue Wilson',
       'Station en parking (niv -2), accÃ¨s 155 rue de Rennes',
       'Station en parking (niv -1), accÃ¨s av. gÃ©n Sarrail',
       'Station en parking (niv -1), accÃ¨s 33 rue Ernest Cognacq',
       'Station en parking (niv -1), accÃ¨s 80 rue Wilson',
       "Station en parking (niv -1), accÃ¨s 29 quai d'Austerlitz"],
      dtype=object)

# VALIDITY & ACCURACY

In [19]:
#drop the comments column since we will not use it for out analysis
#creating a copy
df_2 = df_1
df_2 = df_2.drop(['Displayed comment'], axis=1)
df_2.shape

(5000, 24)

In [20]:
#drop missing spaces
df_2['Address'] = df_2['Address'].str.strip()
df_2.tail(5)

                          Address  Cars  Bluecar counter  ...  day  hour  minute
4995          8 avenue MÃ©nelotte     2                2  ...    6    11      26
4996            37 rue de Dantzig     4                4  ...    4    16      56
4997               142 rue du Bac     1                1  ...    1     7       1
4998  2 avenue du Val de Fontenay     2                2  ...    4    17      27
4999          5 Rue Henry Brisson     4                4  ...    8    10       2

[5 rows x 24 columns]

In [21]:
#creating another copy
df_3 = df_2
df_3.shape

(5000, 24)

In [22]:
#drop the scheduled at column since  I will not use it in the analysis
df_3 = df_3.drop(['Scheduled at'], axis=1)
df_3.shape

(5000, 23)

# COMPLETENESS & UNIFORMITY

In [0]:
#creating a copy
df_4 = df_3

In [26]:
#Create a date column
df_4['Date'] = df_4["year"].map(str) +':'+ df_4["month"].map(str) +':'+ df_4["day"].map(str)
df_4.tail(5)

                          Address  Cars  ...  minute      Date
4995          8 avenue MÃ©nelotte     2  ...      26  2018:4:6
4996            37 rue de Dantzig     4  ...      56  2018:4:4
4997               142 rue du Bac     1  ...       1  2018:4:1
4998  2 avenue du Val de Fontenay     2  ...      27  2018:4:4
4999          5 Rue Henry Brisson     4  ...       2  2018:4:8

[5 rows x 24 columns]

In [27]:
#create the time column
df_5 = df_4
df_5['Time'] = df_5["hour"].map(str) +':'+ df_5["minute"].map(str)
df_5

                                 Address  Cars  ...      Date   Time
0                    2 Avenue de Suffren     0  ...  2018:4:8  11:43
1              145 Rue Raymond Losserand     6  ...  2018:4:6   7:24
2       2 Avenue John Fitzgerald Kennedy     3  ...  2018:4:3  20:14
3                 51 Rue EugÃ¨ne OudinÃ©     3  ...  2018:4:4   4:37
4     6 avenue de la Porte de Champerret     3  ...  2018:4:8  17:23
...                                  ...   ...  ...       ...    ...
4995                 8 avenue MÃ©nelotte     2  ...  2018:4:6  11:26
4996                   37 rue de Dantzig     4  ...  2018:4:4  16:56
4997                      142 rue du Bac     1  ...  2018:4:1    7:1
4998         2 avenue du Val de Fontenay     2  ...  2018:4:4  17:27
4999                 5 Rue Henry Brisson     4  ...  2018:4:8   10:2

[5000 rows x 25 columns]

In [28]:
#create seconds column to convert the objects date and time to datetime format
#create a list of 5001 values with zeros
#assign the list to the column seconds
list_seconds = [0]*5000
df_5['seconds'] = list_seconds
df_5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 26 columns):
Address                5000 non-null object
Cars                   5000 non-null int64
Bluecar counter        5000 non-null int64
Utilib counter         5000 non-null int64
Utilib 1.4 counter     5000 non-null int64
Charge Slots           5000 non-null int64
Charging Status        5000 non-null object
City                   5000 non-null object
ID                     5000 non-null object
Kind                   5000 non-null object
Geo point              5000 non-null object
Postal code            5000 non-null int64
Public name            5000 non-null object
Rental status          5000 non-null object
Slots                  5000 non-null int64
Station type           5000 non-null object
Status                 5000 non-null object
Subscription status    5000 non-null object
year                   5000 non-null int64
month                  5000 non-null int64
day                    5000 non-null int64
hour                   5000 non-null int64
minute                 5000 non-null int64
Date                   5000 non-null object
Time                   5000 non-null object
seconds                5000 non-null int64
dtypes: int64(13), object(13)
memory usage: 1015.8+ KB

In [29]:
#drop the year, month, day, hour and minute columns
df_6 = df_5.drop(['year','month','day','hour','minute'],axis=1)
df_6

                                 Address  Cars  ...   Time  seconds
0                    2 Avenue de Suffren     0  ...  11:43        0
1              145 Rue Raymond Losserand     6  ...   7:24        0
2       2 Avenue John Fitzgerald Kennedy     3  ...  20:14        0
3                 51 Rue EugÃ¨ne OudinÃ©     3  ...   4:37        0
4     6 avenue de la Porte de Champerret     3  ...  17:23        0
...                                  ...   ...  ...    ...      ...
4995                 8 avenue MÃ©nelotte     2  ...  11:26        0
4996                   37 rue de Dantzig     4  ...  16:56        0
4997                      142 rue du Bac     1  ...    7:1        0
4998         2 avenue du Val de Fontenay     2  ...  17:27        0
4999                 5 Rue Henry Brisson     4  ...   10:2        0

[5000 rows x 21 columns]

In [30]:
#creating the complete date time column
df_7 = df_6
df_7['Date_Time']= df_6["Date"].map(str) +':'+ df_6["Time"].map(str) +':'+df_6["seconds"].map(str)
df_7.tail(5)

                          Address  Cars  ...  seconds         Date_Time
4995          8 avenue MÃ©nelotte     2  ...        0  2018:4:6:11:26:0
4996            37 rue de Dantzig     4  ...        0  2018:4:4:16:56:0
4997               142 rue du Bac     1  ...        0    2018:4:1:7:1:0
4998  2 avenue du Val de Fontenay     2  ...        0  2018:4:4:17:27:0
4999          5 Rue Henry Brisson     4  ...        0   2018:4:8:10:2:0

[5 rows x 22 columns]

In [31]:
#change the date data type to date format
from datetime import datetime
df_8 = df_7
df_8['Date_Time'] = pd.to_datetime(df_8['Date_Time'] , format='%Y:%m:%d:%H:%M:%S', errors = 'coerce')
df_8.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 22 columns):
Address                5000 non-null object
Cars                   5000 non-null int64
Bluecar counter        5000 non-null int64
Utilib counter         5000 non-null int64
Utilib 1.4 counter     5000 non-null int64
Charge Slots           5000 non-null int64
Charging Status        5000 non-null object
City                   5000 non-null object
ID                     5000 non-null object
Kind                   5000 non-null object
Geo point              5000 non-null object
Postal code            5000 non-null int64
Public name            5000 non-null object
Rental status          5000 non-null object
Slots                  5000 non-null int64
Station type           5000 non-null object
Status                 5000 non-null object
Subscription status    5000 non-null object
Date                   5000 non-null object
Time                   5000 non-null object
seconds                5000 non-null int64
Date_Time              5000 non-null datetime64[ns]
dtypes: datetime64[ns](1), int64(8), object(13)
memory usage: 859.5+ KB

In [32]:
#drop date, time and second coulumns
df_9=df_8
df_9 = df_9.drop(['Date','Time','seconds',] , axis=1)
df_9.tail(5)

                          Address  Cars  ...  Subscription status           Date_Time
4995          8 avenue MÃ©nelotte     2  ...          nonexistent 2018-04-06 11:26:00
4996            37 rue de Dantzig     4  ...          nonexistent 2018-04-04 16:56:00
4997               142 rue du Bac     1  ...          nonexistent 2018-04-01 07:01:00
4998  2 avenue du Val de Fontenay     2  ...          nonexistent 2018-04-04 17:27:00
4999          5 Rue Henry Brisson     4  ...          nonexistent 2018-04-08 10:02:00

[5 rows x 19 columns]

# QUESTION 1

In [33]:
#Identify the most poular Hour of the day for 
#picking up a shared electric car in the city of paris over the month of April 2018
df_10 = df_9
df_10.shape

(5000, 19)

In [34]:
#Select rows with entries in the city column as Paris
df_11 = df_10.loc[df_10['City'] == 'Paris']
df_11.head(5)
#there are 2805 entries for Paris

                              Address  ...           Date_Time
0                 2 Avenue de Suffren  ... 2018-04-08 11:43:00
1           145 Rue Raymond Losserand  ... 2018-04-06 07:24:00
3              51 Rue EugÃ¨ne OudinÃ©  ... 2018-04-04 04:37:00
4  6 avenue de la Porte de Champerret  ... 2018-04-08 17:23:00
5                8 Boulevard Voltaire  ... 2018-04-06 07:02:00

[5 rows x 19 columns]

In [35]:
#this confirms that the number of unique elements in the city column is  1(Paris)
df_11.City.nunique(dropna=True)

1

In [82]:
#creating a copy
df_12 = df_11
df_12['ID'].nunique(dropna=True)
#df_12.shape #shows there are 2816 row entries
#group by ID(station ID) then per hour to find the cumulative sum for the whole hour to find out if a car was hired
# returned or nothing happened

df_12 =  df_12.groupby(['ID','Date_Time']).sum()
df_12.head(10)
#df_12['Bluecar-Cars'] = 

#df_11['Utilib 1.4 counter'].sum()

                                        Cars  ...  Slots
ID                 Date_Time                  ...
paris-25aout1944-8 2018-04-01 18:40:00     1  ...      2
                   2018-04-02 07:37:00     4  ...      0
                   2018-04-02 12:49:00     2  ...      1
                   2018-04-04 03:10:00     3  ...      0
                   2018-04-04 18:48:00     1  ...      1
                   2018-04-07 21:18:00     1  ...      1
                   2018-04-09 05:23:00     0  ...      3
                   2018-04-09 20:53:00     1  ...      1
paris-adolphemax-6 2018-04-02 11:01:00     4  ...      0
                   2018-04-07 16:47:00     0  ...      3

[10 rows x 7 columns]

# SQL ANALYSIS OF THE CLEANED DATA

In [0]:
#Export to csv
df_11.to_csv(r'Downloads\df_11.csv')

# LOADING DATA IN SQL

# QUESTION 2

In [0]:
#What is the most popular hour for returing cars

In [0]:
#Which is the most popular station?

In [0]:
#what is the most popular picking hour?

In [0]:
#Which is the most popular postal code for picking up Blue Cars